<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMS  |   Add New Employee</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'emp_icon.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" type="text/css">
</head>

<body>
    <div class="parent">
        <div class="child child1">
            <h1 class="text-center"><i>EMS</i></h1>
        </div>
        <div class="child child2">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link"  style="color:rgb(0, 75, 93);"  href="#">Instagram</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  style="color:rgb(0, 75, 93);" href="#">Linkedin</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  style="color:rgb(0, 75, 93);" href="#">facebook</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  style="color:rgb(0, 75, 93);" href="#">whatsapp</a>
                </li>
              </ul>
        </div>
        <div class="child child3">
            <ul class="nav nav-tabs nav-fill" style="background-color:rgb(0, 75, 93);">
                <li class="nav-item">
                    <a class="nav-link" style="color:whitesmoke;" href="{{ url_for('logout') }}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:whitesmoke;" href="{{ url_for('dashboard') }}">Go back to dashboard</a>
                </li>
            </ul>
        </div>

        <div class="child child4">
            <h4 class="m-2">New Employee Addition Page</h4>
        </div>

        <div class="child child5" style="color:rgb(0, 75, 93);">
            <h5 class="m-2"><i>User: {{ current_user.email }}</i></h5>
        </div>

        <div class="child child6 container" style="color:rgb(0, 75, 93);">
            <ul class="nav nav-tabs nav-fill">
                <!-- Your navigation tabs code -->
            </ul>

            <div class="table-responsive-lg caption-top">
                <caption><h4>ADD NEW EMPLOYEES</h4></caption>
                <hr>
                <form class="p-3" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone">
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="address" name="address">
                    </div>
                    <div class="mb-3">
                        <label for="joining_date" class="form-label">Joining Date</label>
                        <input type="text" class="form-control" id="joining_date" name="joining_date">
                    </div>
                    <div class="mb-3">
                        <label for="designation" class="form-label">Designation</label>
                        <input type="text" class="form-control" id="designation" name="designation">
                    </div>
                    <button type="submit" class="btn btn-primary">Add Employee</button>
                </form>
            </div>
        </div>

        <!-- Footer -->
        <div class="child child7" style="background-color:rgb(0, 75, 93); color:whitesmoke;">
            <footer>
                <p class="p-1 text-center">copyright &copy; Developed and Designed by Aritra Shee, Email : <a href="gameraritra5@gmail.com">gameraritra5@gmail.com</a> </p>
            </footer>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>

</html>
